<h1><strong>My Projects!</strong></h1>
<hr />
<div>
  
  
  <!-- Major Projects -->
 <form id="contactForm">
 <br />
 <p><h5><strong>Saunders Overhaul</strong></h5></p>
 <p>
<!-- Project 1 -->
<img src="../../Assets/images/saunders.png" alt="saunders" width="250" height="250" align="below" class="rounded" alt="...">
<br />
 <body>
<font size = "3">Completed Procurement of the Saunders Overhaul on behalf of Ontario Power Generation. Located on the St Lawrence river in Cornwall, the 16 units hydro electric generating station with a maximum continous rating of 1045 MW need major refurbishment to be completed.  </font><br />
 <body>
  <body>
<font size = "3">Project Size: 100M</font><br />
<font size = "3">Role: Supply Chain Expert</font><br />
 <body>
<br />

<!-- Project 2 -->
<img src="../../Assets/images/ccas.png" alt="ccas" width="100" height="200" align="below" class="rounded" alt="...">
<br />
 <body>
<font size = "3">The group identified an existing need for a more effective and centralized approach to facilitate applications for Canada’s public colleges, specifically for international students. We called this system, the Canadian Colleges Application System (“CCAS”). Current system is limited to residents of Ontario to apply and reap the benefits of a more streamlined process. However, this system’s inefficiencies start to gleam forward when an international student applies. We wanted to make a system that communicates with existing portals and agencies that are independently available to international student based on which part of the world you are from.  </font><br />
 <body>
  <body>
<font size = "3">Project Size: Final Project for COMP224</font><br />
<font size = "3">Role: Group Member</font><br />
 <body>
<br />

<!-- Programming language proficiency levels: -->
 <form id="contactForm">
 <br />
 <p><h5><strong>Programming language proficiency levels: </strong></h5></p>
 <p>

<div class="progress">
  <div class="progress-bar bg-success" role="progressbar" style="width: 55%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">JAVA - 55%</div>
</div>
<div class="progress">
  <div class="progress-bar bg-info" role="progressbar" style="width: 40%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">JavaScript - 40%</div>
</div>
<div class="progress">
  <div class="progress-bar bg-warning" role="progressbar" style="width: 65%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">Oracle SQL Developer - 75%</div>
</div>
<div class="progress">
  <div class="progress-bar bg-danger" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">C# - 55%</div>
</div>
<div class="progress">
  <div class="progress-bar bg" role="progressbar" style="width: 75%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">MATLAB - 75%</div>
</div>
<div class="progress">
  <div class="progress-bar bg-secondary" role="progressbar" style="width: 10%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">MongoDB - 20%</div>
</div>
<div class="progress">
  <div class="progress-bar bg-dark" role="progressbar" style="width: 35%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">TypeScript - 10%</div>
</div>

